/* general styles */
h1 {
  padding: 0.5rem 0 0.5rem 0;
  font-size: 4.2rem;
  font-family: 'Mate SC', serif;
  color: #f7f7f7;
}

body {
  background-color: #081016;
  font-family: 'Open Sans', sans-serif;
}

.simple {
  background-color: #243640;
}

.simple:hover,
.simple:focus {
  background-color: #059a91;
}

#controls-label, 
#tunings-label,
#custom-label,
#about-label {
  color: #000;
}

.callout,
.tabs,
.tabs-content {
  background-color: #f7f7f7;
}


/* keyboard */
.key {
  width: 4.1rem;
  height: 3.6rem;
  border-radius: 0.2rem;
  padding-left: 0rem;
  padding-right: 0rem;
}

.tuning-input {
  text-align: center;
  padding: 0.4rem;
  width: 4.1rem;
}


/* control panel */
.slider.vertical {
  height: 10.4rem;
}

.control-label {
  text-align: center;
  display: inline-block;
  padding: 0 0 0.5rem 0;
  font-size: 0.8rem;
}

.control-input {
 text-align: center;
 padding: 0.4rem;
 width: 3.2rem;
}

.section-label {
  display: inline-block;
  padding: 0 0 0.8rem 0;
  font-size: 1.2rem;
  font-variant: small-caps;
}

.keymode-button {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}



/* tuning menu */
a.tuning-category {
  color: #000;
  font-variant: small-caps;
  font-size: 1.2rem;
}

a.tuning-selection {
  font-size: 1.15rem;
  color: #000;
}

table.tuning-description {
  width: 50rem;
  /* table-layout: fixed; */
  color: #444;
}

table tbody th {
  width: 12%;
  padding: 0.25rem;
}

table tbody td {
  padding: 0.25rem;
}

tr,
table tbody tr:nth-child(2n) {
    background-color: #f7f7f7;
}



.is-accordion-submenu-parent a,
.is-accordion-submenu-item {
  /* color: #000; */
}

.is-accordion-submenu-parent > a::after {
  border-color: #000 transparent;
  /* content: "↡"; */
}

a.arrow-inset-fix::after {
  margin-right: 1rem;
}


/* about panel */
p.about-label {
  font-size: 1.6rem;
  font-variant: small-caps;
}
