li {
  display: inline-block;
  padding: 0.5em 0.78em 0 0.78em;
}

input[type="text"] {
  width: 5.5em;
  font-size: 0.9em;
}

.fixed-width {
  width: 3.9em;
}

#gain-box {
  margin-left: 5em;
}

span {
  margin-left: 2em;
}